<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBhf6PScaxAGOzVg-0_QKUnjDVeTovTkpY</string>
	<key>GCM_SENDER_ID</key>
	<string>762812636425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopSmart.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>shopsmart-32525</string>
	<key>STORAGE_BUCKET</key>
	<string>shopsmart-32525.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:762812636425:ios:2159db248cd018229247d8</string>
</dict>
</plist>